.valentine-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  padding-top: 50px;
}
body {
  background-color: #f1687c;
}
.text1 {
  font-size: 22px;
  padding-top: 10px;
  padding-bottom: 20px;
}
.text {
  padding-top: 30px;
  font-size: 24px;
  font-family: cursive;
  color: black;
  text-align: center;
}
.yesButton {
  margin-right: 20px;
  font-size: 80px;
}
.noButton {
  margin-left: 10px;
}
.bouquet {
  width: 425px;
  height: 525px;
}
